/* ======================================== BODY --======================================== */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1 a, h2 a {
    color: black;
    transition: color 0.2s
}

body a:hover {
    color: #696969;
    text-decoration: none;
}

hr {
    margin: 15px 0;
}

/* ======================================== HEADER ======================================== */

.title-text {
    margin: 0 0;
}

.title-text span {
    color: rgb(206, 22, 128);
    font-weight: 800;
}

.header-icons {
    margin: 15px 0 0 0;
}

.icon-wrapper {
    display: inline;
}

.fa-spacy {
    padding: 0px 21px;
}

.fa-first {
    padding-left: 0;
}

/* ======================================== IMAGES ======================================== */

.blog-image {
    width: 100%;
}

.small-blog-image {
    width: 50%;
    margin: 0 auto;
    display: block;
}

/* ======================================== MAIN =========================================== */

.pagination {
    margin: 0 auto;
    display: block;
    text-align: center
}

/* ======================================== CODE =========================================== */

pre code {
    color: rgb(104, 123, 132);
}

pre {
    background-color: rgb(251, 247, 226);
    border: 1px solid rgb(246, 233, 175);;
}
