/* ======================================== BODY --======================================== */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1 a, h2 a {
    color: black;
    transition: color 0.2s
}

body a:hover {
    color: #696969;
    text-decoration: none;
}

/* ======================================== HEADER ======================================== */

.icon-wrapper {
    display: inline;
}

.fa-spacy {
    padding: 0px 7px;
}

/* ======================================== IMAGES ======================================== */

.blog-image {
    width: 100%;
}

.small-blog-image {
    width: 50%;
    margin: 0 auto;
    display: block;
}

/* ======================================== MAIN =========================================== */

.pagination {
    margin: 0 auto;
    display: block;
    text-align: center
}
