<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <hr>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="title-text">
            <a href="{{site.baseurl}}/">
                <span>Will Sutherland</span>
                <!-- <small>sheffield // cambridge</small> -->
            </a>
        </h1>
        <h2 class="header-icons">
            <div class="github-wrapper icon-wrapper">
                <a href="https://github.com/wgpsutherland">
                    <span class="fa fa-github fa-spacy fa-first"></span>
                </a>
            </div>
            <div class="portfolio-wrapper icon-wrapper">
                <a href="http://wgpsutherland.github.io">
                    <span class="fa fa-user fa-spacy"></span>
                </a>
            </div>
            <div class="twitter-wrapper icon-wrapper">
                <a href="https://twitter.com/Sutherlandahoy">
                    <span class="fa fa-twitter fa-spacy"></span>
                </a>
            </div>
            <div class="instagram-wrapper icon-wrapper">
                <a href="http://instagram.com/wgpsutherland">
                    <span class="fa fa-instagram fa-spacy"></span>
                </a>
            </div>
        </h2>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <hr>
    </div>
    <div class="col-md-2"></div>
</div>