<head>
    <meta charset="utf-8">
    <title>Will Sutherland's blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
</head>