<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <title>Will Sutherland</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body>

    <div class="container">

        {% include header.html %}

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">

                {% for post in site.posts %}

                <h2>
                    <a href="{{ post.url }}">

                        {{ post.title }}
                        <small>
                            {{ post.date | date_to_long_string }}
                        </small>

                    </a>
                </h2>

                <p class="text-center">{{ post.excerpt }}</p>

                {% endfor %}

                {{content}}

            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

</body>